<!-- <ion-header>
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>

  <form [formGroup]="credentials" (ngSubmit)="login()">
    <div class="wrapper">

      <h1> Sign In</h1>

      <ion-item lines="none">
        <ion-label position="floating">Email</ion-label>
        <ion-input type="text" placeholder="Email" formControlName="email"></ion-input>
        <ion-note slot="error" *ngIf="(email.dirty || email.touched) && email.errors"> Email is invalid!</ion-note>
      </ion-item>

      <ion-item lines="none">
        <ion-label position="floating">Password</ion-label>
        <ion-input type="text" placeholder="Password" formControlName="password"></ion-input>
        <ion-note slot="error" *ngIf="(password.dirty || password.touched) && password.errors"> Password needs to be 6 characters long at least!</ion-note>
      </ion-item>

    <ion-button type="submit"  [disabled]="!credentials.valid"> Sign in </ion-button>
    <ion-button type="button" (click)="register()"> Create account </ion-button>
    

    </div>
  </form>

</ion-content>

<ion-footer>
  <div class="text" (click)="gotosignup()">
    Create an Account instead?
  </div>

</ion-footer>
