<!-- <ion-header>
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>

  <div class="wrapper">

    <h1> Sign In</h1>

    <ion-item lines="none">
      <ion-label position="floating">Email</ion-label>
      <ion-input type="text" placeholder="Email"></ion-input>
    </ion-item>

    <ion-item lines="none">
      <ion-label position="floating">Password</ion-label>
      <ion-input type="text" placeholder="Password"></ion-input>
    </ion-item>

  <ion-button> Sign in </ion-button>

  </div>

</ion-content>

<ion-footer>
  <div class="text" (click)="gotosignup()">
    Create an Account instead?
  </div>

</ion-footer>
