<!-- <ion-header>
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>

  <div class="wrapper">

    <h1> Sign Up </h1>

    <ion-item lines="none">
      <ion-label position="floating">Name</ion-label>
      <ion-input type="text" placeholder="Full name" [(ngModel)]="name"></ion-input>
    </ion-item>

    <ion-item lines="none">
      <ion-label position="floating">Email</ion-label>
      <ion-input type="text" placeholder="Email" [(ngModel)]="email"></ion-input>
    </ion-item>

    <ion-item lines="none">
      <ion-label position="floating">Password</ion-label>
      <ion-input type="text" placeholder="Password" [(ngModel)]="password"></ion-input>
    </ion-item>

  <ion-button (click)="SignUp()"> Sign up </ion-button>

  </div>

</ion-content>

<ion-footer>
  <div class="text" (click)="gotosignin()">
    Already have an account? Sign in here!
  </div>

</ion-footer>
