.wrapper{
    width: 90%;
    margin: 10% auto;
    text-align: center;
}

ion-button{
    margin: 20px;
}

h1{
    font-size: xxx-large;
}

ion-item{
    margin: 10% auto 3%;
    --background: #e6e6e6;
    border-radius: 10px;
}

ion-footer{
    background-color: #fff;
    padding: 20px;
    text-align: center;
    font-weight: 600;
}