<ion-content>

  <ion-breadcrumbs>
    <ion-breadcrumb href="home">Home</ion-breadcrumb>
    <ion-breadcrumb href="helloworld
    ">Hello world page</ion-breadcrumb>
  </ion-breadcrumbs>

  <ion-button color="primary">Primary</ion-button>
  <ion-button color="secondary">Secondary</ion-button>
  <ion-button color="tertiary">Tertiary</ion-button>
  <ion-button color="success">Success</ion-button>
  <ion-button color="warning">Warning</ion-button>
  <ion-button color="danger">Danger</ion-button>
  <ion-button color="light">Light</ion-button>
  <ion-button color="medium">Medium</ion-button>
  <ion-button color="dark">Dark</ion-button>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>This is a Hello World card.</ion-card-subtitle>
      <ion-card-title>Hello world!</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      Keep close to Nature's heart... and break clear away, once in awhile,
      and climb a mountain or spend a week in the woods. Wash your spirit clean.
    </ion-card-content>
  </ion-card>

</ion-content>