<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-item lines="none">
      <ion-label>
        <p style="font-weight: 800; font-size:3em; color:rgb(255, 136, 17)">Today</p>
        <p style="font-weight:400; color: #676767"> {{today | date:'fullDate'}}</p>
      </ion-label>
      <div class="ion-padding">
        <img src="../../assets/aleksa.png"/>
      </div>
    </ion-item>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card *ngFor="let item of todoList; let i = index" class="ion-margin">
    <ion-card-header>
      <ion-card-subtitle [style.color]="item.value.itemPriority === 'High' ? 'red' : (item.value.itemPriority === 'Low' ? 'green' : 'orange')" >
        {{item.value.itemCategory}}
      </ion-card-subtitle>
      <ion-item>
        <ion-icon *ngIf="item.value.itemPriority === 'High' " color="danger" name="ellipse" size="small"></ion-icon>
        <ion-icon *ngIf="item.value.itemPriority === 'Middle' " color="warning" name="ellipse" size="small"></ion-icon>
        <ion-icon *ngIf="item.value.itemPriority === 'Low' " color="success" name="ellipse" size="small"></ion-icon>
        <ion-label>{{item.value.itemName}}</ion-label>
      </ion-item>
    </ion-card-header>

    <ion-card-content>
      <ion-label> Due {{item.value.itemDueDate | date:'fullDate'}} </ion-label>
    </ion-card-content>

    <ion-row>
      <ion-item>
        <ion-icon name="share-outline"></ion-icon>
        <p>Share</p>
      </ion-item>

      <ion-item button (click)="update(item)">
        <ion-icon name="checkmark-outline"></ion-icon>
        <p>Update</p>
      </ion-item>

      <ion-item button (click)="delete(item.key)">
        <ion-icon name="trash-outline"></ion-icon>
        <p>Cancel</p>
      </ion-item>
    </ion-row>
  </ion-card>

<div class="center">
  <ion-button (click)="logout()">
    <ion-label class="ion-margin">Log out</ion-label>
    <ion-icon name="log-out-outline"></ion-icon>
  </ion-button>
</div>
</ion-content>


  


<ion-fab vertical="bottom" horizontal="end" slot="fixed">
  <ion-fab-button (click)="addNewItem()">
    <ion-icon name="add"> </ion-icon>
  </ion-fab-button>
</ion-fab>