ion-content{
  --background: #F0F4FD;

  P{

    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    //color: #8c8c8c;
    margin:0;
  }
}

img{
  width: 90px;
}

ion-row{
  justify-content: center;
}

.center{
  text-align: center;
}