<ion-header>
  <ion-toolbar>
    <ion-title>Add new task</ion-title>
    <ion-icon name="close" slot="end" size="large" class="ion-padding" (click)="dismiss()"> </ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-item>
      <ion-textarea placeholder="Write your task here">  </ion-textarea>
    </ion-item>
    <ion-item>
      <ion-label> Priority </ion-label>
      <ion-select>
      <ion-select-option value="Low">Low</ion-select-option>
      <ion-select-option value="Middle">Middle</ion-select-option>
      <ion-select-option value="High">High</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-icon name="calendar-outline" slot="start"></ion-icon>
      <ion-label>Due date</ion-label>

      <ion-datetime-button datetime="datetime" displayFormat="D MMM YYYY H:mm"></ion-datetime-button>

      <ion-modal [keepContentsMounted]="true">
        <ng-template>
          <ion-datetime id="datetime"></ion-datetime>
        </ng-template>
      </ion-modal>
    </ion-item>

    <ion-item>
      <ion-icon name="pricetag-outline" slot="start"> </ion-icon>
      <ion-label>Category</ion-label>
    </ion-item>

    <ion-button class="ion-margin" expand="block">Add</ion-button>
  </ion-card>
</ion-content>
